# Node.js dependencies
node_modules/
package-lock.json

# MacOS files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled output
dist/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Compiled TypeScript
*.tsbuildinfo

# Electron-specific files
*.asar
out/

# IDE/Editor settings
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
*.swp
*.swo
*~
*.tmp
*.temp

.yarn/

.eslintcache
*.log*
